@import "../../../sass/variables.scss";

.create-card {
  width: 243px;

  img {
    width: 80px;
    margin-bottom: 20px;
  }

  h4 {
    font-weight: 700;
    color: $blue;
    margin-bottom: 10px;
  }

  p {
    color: $darkgrey;
    text-transform: capitalize;
  }
}
