@import "../../../sass/variables.scss";

.header {
  display: flex;
  font-family: "Roboto";
  justify-content: space-between;
  align-items: center;

  &__logo {
    max-width: 174px;
    img {
      cursor: pointer;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: $gap;

    .header__item {
      .header__link {
        color: $white;
        transition: all 0.3s ease-in;

        &:hover {
          color: $red;
          font-weight: 500;
          text-decoration: underline;
        }
      }
    }
  }

  &__btn {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background: $red;
    border-radius: 30px;
    border: 1px solid transparent;
    transition: all 0.3s linear;

    &:hover {
      color: $lightblue;
      border-color: $borderbutton;
      background: transparent;
    }
  }

  .hamburger__btn {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .header {
    position: relative;
  }

  body.no-scroll {
    overflow: hidden;
  }

  .header__list {
    position: fixed;
    top: 100px;
    right: 0;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: calc(100vh - 57px);
    background: #473380;
    z-index: $z-tooltip;
    transform: translateX(100%);
    transition: 0.3s ease-in;
  }

  .header__list--active {
    transform: translateX(0);
  }

  .header__list--none {
    display: none;
  }

  .hamburger__btn {
    display: block !important;
    background: none;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .header__btn {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header__list {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .header__logo {
    img {
      width: 150px;
    }
  }
}
