@import "../../../sass/variables.scss";

.collection {
  padding-top: 7rem;

  .section__subtitle {
    margin-bottom: 1rem;
  }

  .section__title {
    margin-bottom: 2.5rem;

    span {
      img {
        width: 20px;
        margin-bottom: 5px;
      }
    }
  }


  .alice-carousel__prev-btn,
  .alice-carousel__next-btn,
  .alice-carousel__play-btn,
  .alice-carousel__dots {
    display: none;
  }
}

@media (max-width: 1024px) {
  .alice-carousel__dots {
    display: block !important;

    .alice-carousel__dots-item.__active {

      background: $red;
    }
    .alice-carousel__dots-item {
      background: $darkblue;
    }
  }
}
