@import "./sass/variables.scss";

.scroll-to-top{
  background: linear-gradient(253.86deg, rgba(25, 32, 99, 0.74) 3.29%, rgba(120, 44, 156, 0.74) 101.98%) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px !important;
  height: 50px !important;
  border-radius: 5px !important;

  &:hover{
    background: $orange !important;
  }

  svg{
    fill: $white;
  }
}