@import "../../../sass/variables.scss";

.card-blog {
  width: 370px;
  background: $white;
  border: 0.5px solid #e3e3e3;
  box-shadow: 0px 0px 10px rgba(221, 221, 221, 0.5);
  transition: 0.3s linear;

  &:hover{
    box-shadow: 0px 0px 30px #DDDDDD;
  }

  .img-group__card-blog {
    position: relative;

    p {
      position: absolute;
      right: 18px;
      bottom: 30px;
      transform: rotate(-9.93deg);
      color: $black;
    }
  }

  .info-group__card-blog {
    h6 {
      margin-top: 5px;
      padding: 0 45px;
      text-align: center;
      font-weight: 500;
      color: $darkblue;
    }

    p {
      margin-top: 10px;
      padding: 0 15px;
      text-align: center;
      color: $darkgrey;
    }

    .btn__card-blog {
      display: block;
      margin: 0 auto;
      margin-top: 42px;
      margin-bottom: 18px;
      width: 150px;
      height: 40px;
      color: $darkgrey;
      background: $white;
      border: 1px solid #313131;
      border-radius: 20px;
      transition: 0.3s ease;

      &:hover{
        border-color: $red;
        background: $red;
        color: $white;
      }
    }
  }
}
